@font-face {
    font-family: 'SCDream5';
    src: 
    url(./styles/font/SCDream5.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'SCDream5' !important;
  }